<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>convert</title>
    <style>
        .container {
        text-align: center; 
        background-color: #f2f2f2; 
        padding: 20px; 
        border-radius: 10px;
      }
      
      .img-fluid {
        width: 50%;
        height: auto;
      }
      
      .download-btn, .back-btn {
        background-color: #757f9a;; 
        color: white; 
        padding: 10px 20px; 
        border-radius: 20px; 
        text-decoration: none;
        margin-top: 20px;
      }
    </style>
    
</head>
<body>
    <div class="container">
        <img src="{{ image_url }}" class="img-fluid" alt="Responsive image">
        <br><br>
        <a download href="{{ image_url }}" class="download-btn">Download</a>
        <a href="javascript:history.back()" class="back-btn">Back</a>
      </div>
</body>
<script>

</script>
</html>

